name: multi_builder_example
description: "Demonstrates how to use the multi_builder plugin."
publish_to: "none"

environment:
  sdk: ^3.11.0

dependencies:
  flutter:
    sdk: flutter
  multi_builder:
    path: ../

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
